<template>
  <div>
    <div>
      <h1>Gist Index</h1>
    </div>
    <div class="pager">
      <ul>
        <template v-for="page in 10">
          <li @click="onPage" :page="page"><a href="#"><span>{{ page }}</span></a></li>
        </template>
      </ul>
    </div>
    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th>Description</th>
          <th>Owner</th>
          <th>Language</th>
        </tr>
      </thead>
      <tbody>
        <template v-for="(item, index) in feedItems">
          <tr>
            <td>{{ index + 1 }}</td>
            <td>
              <a :href="item.html_url"><span>{{ getDescription(item) }}</span></a>
            </td>
            <td>
              {{ getOwnerLoginName(item) }}
            </td>
            <td>
              {{ getLanguage(item) }}
            </td>
          </tr>
        </template>
      </tbody>
    </table>
    <div class="pager">
      <ul>
        <template v-for="page in 10">
          <li @click="onPage" :page="page"><a href="#"><span>{{ page }}</span></a></li>
        </template>
      </ul>
    </div>
  </div>
</template>

<script>
  var stream = weex.requireModule('stream');

  export default {
    data: () => {
      return {
        feedItems: [],
        currentPage: 1,
        pageSize: 30
      }
    },
    methods: {
      getPublicFeed(page, callback) {
        console.log(`https://api.github.com/gists/public?page=${this.currentPage}&per_page=${this.pageSize}`);
        return stream.fetch({
          method: 'GET',
          type: 'json',
          url: `https://api.github.com/gists/public?page=${this.currentPage}&per_page=${this.pageSize}`
        }, callback);
      },
      onPage(event) {
        const page = parseInt(event.currentTarget.getAttribute('page'), 10);
        this.currentPage = page;
        this.getPublicFeed(this.currentPage, this.getResponseFeed);
      },
      getDescription(item) {
        if (item.description === null) {
          return '-- No Description --';
        }
        if (item.description.length > 40) {
          return item.description.slice(0, 40) + '...';
        } else {
          return item.description;
        }
      },
      getOwnerLoginName(item) {
        if (item.owner === undefined) {
          return 'anonymous';
        }
        return item.owner.login;
      },
      getResponseFeed(response) {
        this.feedItems = response.data;
      },
      getLanguage(item) {
        if (item.files === undefined) {
          return '';
        }

        var keys = Object.keys(item.files)
        var result = new Set();
        for (var i = 0; i < keys.length; i++) {
          result.add(item.files[keys[i]].language)
        }
        return Array.from(result).join(' ');
      }
    },
    mounted() {
      this.getPublicFeed(this.currentPage, this.getResponseFeed);
    }
  }
</script>

<style scoped>
  .panel {
    width: 600px;
    height: 250px;
    margin-left: 75px;
    margin-top: 35px;
    margin-bottom: 35px;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-color: rgb(162, 217, 192);
    background-color: rgba(162, 217, 192, 0.2);
  }

  .text {
    font-size: 50px;
    text-align: center;
    color: #41B883;
  }

  .contents span {
    font-size: 20px;
    font-weight: bold;
  }

  h1 {
    font-size: 40px;
  }

  .pager {
    overflow: hidden;
    height: 60px;
  }

  .pager ul {
    list-style: none;
    position: relative;
    left: 50%;
    float: left;
  }

  .pager ul li {
    margin: 0 1px;
    position: relative;
    left: -50%;
    float: left;
  }

  .pager ul li span,
  .pager ul li a {
    display: block;
    font-size: 12px;
    padding: 0.6em 1em;
    border-radius: 3px;
  }

  .pager ul li a {
    background: #eee;
    color: #000;
    text-decoration: none;
  }

  .pager ul li a:hover {
    background: #333;
    color: #fff;
  }
</style>
